/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #5393 on wolvden.com
    code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    --font: "Cormorant Infant", serif;
    --font2: "Great Vibes", serif;
    --1: #000000;
    --2: #031018;
    --3: #2a465c;
    --4: #316d92;
    --5: #8d9ea5;
    --6: #ffffff;
}
*:hover {
	text-decoration: none!important;
}
.snowflake {
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 0 5px var(--6);
}
.snowflake,.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes snowflakes-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(110vh);
    }
}

@keyframes snowflakes-shake {
    0%,100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.snowflake .inner {
    animation-duration: 10s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s;
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s;
}

.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: .5s;
}

.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}
body {
    font-family: var(--font);
    background-image: url('https://i.imgur.com/VCER3YC.jpeg');
}
.alert {
    background: linear-gradient(to right, transparent, var(--3), transparent);
    border-image: linear-gradient(to right, #ffffff00 0%, var(--3) 50%, #00000000 100%) 1;
    text-align: center;
    border-width: 2px;
    border-width: 1px;
	color: var(--6);
}
#main h1 {
    font-family: var(--font2);
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: var(--6);
    text-shadow: 0 0 18px var(--4), 0 0 5px var(--6);
	transition: .6s ease;
	cursor: default;
}
#main h1:hover {
	letter-spacing: 2px;
	transition: .6s ease;
}
#main {
    background: #031018e8;
}
#header .navbar-main {
    background: var(--2);
    background: linear-gradient(to right, var(--1), var(--2), var(--1));
    margin-top: 1rem;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px double var(--2);
}
#header .navbar-main a {
    color: var(--4)!important;
    font-weight: bold;
	transition: .3s ease;
}
#header .navbar-main a i {
    color: var(--4)!important;
	transition: .3s ease;
}
#header .navbar-main a i {font-size: 0px!important;}
#main-menu ul li:nth-child(odd) a i:after {
	font-size: .8rem;
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f2dc'!important;
}
#main-menu ul li:nth-child(even) a i:after {
	font-size: .8rem;
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f6fc'!important;
}
#header .navbar-main a:hover,
#header .navbar-main a:hover i {
	color: var(--6)!important;
	text-shadow: 0 0 4px;
	transition: .3s ease;
}
#header .navbar-status {
	background-color: var(--2);
	color: var(--4);
	font-weight: bold;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, transparent 0%, var(--3) 50%, transparent 100%) 1;
}
#header .navbar-status a {
	color: var(--4);
	transition: .3s ease;
}
@media only screen and (min-width: 992px) {
#bookmarkPage {
	display: flex;
	visibility: visible;
	position: fixed;
	top:15px;
	right: 15px;
	color: var(--4)!important;
	font-size: 1rem;
}
#header .breadcrumb-nav .breadcrumb-item {
	display: none;
	}
}
#header .navbar-status .d-md-inline {
	padding: 0px;
	margin: 0px;
	display: none!important;
}
#header .breadcrumb-nav {
	background-color: #031018e8!important;
}
#header .breadcrumb-nav a,
#header .breadcrumb-item,
.breadcrumb-item:before,
#bookmarkPage {
	color: var(--4)!important;
}
i.icon.icon-beetle-gold,
i.icon.icon-beetle-silver {
	display: none!important;
}
span.user_current_sc:before {
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f2dc';
	font-size: 14px;
	padding-right: 3px;
}
span.user_current_gc:before {
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f7cf';
	font-size: 14px;
	padding-right: 3px;
}
#header .navbar-status .btn {
	color: var(--4)!important;
}
#header .navbar-status .btn:focus {
    box-shadow: none;
}
#header .navbar-status a:hover,
#header .navbar-status a:hover i, 
#header .navbar-status .nav-item:hover {
	color: var(--6)!important;
	transition: .3s ease;
	text-shadow: 0 0 4px;
}
#sidebar {
	background: #031018e8;
}
#sidebar .card {
	background: var(--2)!important;
	border-left: 3px double var(--3)!important;
	border-top: 1px solid var(--3)!important;
	border-right: 3px double var(--3)!important;
	border-bottom: 1px solid var(--3)!important;
	box-shadow: 0 0 10px var(--1)!important;
	color: var(--6);
}
#sidebar .card a {
	color: var(--4);
	transition: .3s ease;
}
#sidebar .card a:hover {
	color: var(--6);
	text-shadow: 0 0 4px;
	text-decoration: none;
}
#sidebar .fa-angle-right:before {
	content: '•';
	text-shadow: 0 0 4px;
	font-size: 12px;
}
#sidebar h4 {
	text-align: center;
	text-shadow: 0 0 4px;
}
#sidebar h4:before {
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f6fc';
	padding: .5rem;
	font-size: 12px;
	text-shadow: 0 0 4px;
}
#sidebar span {
	color: var(--6);
	font-weight: bold;
	margin-bottom: 4px;
}
.progress {
	border-radius: 0px;
	border: 1px solid var(--3);
	background: var(--1)!important;
	margin-top: .2em;
	box-shadow: 0 0 10px var(--1)
}
.bg-warning,
.bg-danger,
.bg-info,
.bg-primary,
.bg-success {
	background: linear-gradient(to right, var(--5), var(--4));
}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
    color: var(--6);
    text-shadow: 0 0 6px var(--5);
}
.nav-tabs .nav-link {
	border: none;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    color: var(--5);
    text-shadow: 0 0 6px var(--4);
	transition: .3s ease;
}
.nav-tabs .nav-link:hover {
    color: var(--6);
	text-shadow: 0 0 6px var(--5);
    transition: .3s ease;
}
#main .nav-link[href*='/profile/']:after { content: '\f7cf'; font-family: 'Font Awesome 5 Free'; font-size: 14px; padding-right: 15px;}
#main .nav-link[href*='/den/']:after { content: '\f6fc'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
#denCards img[src$="dynasty.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/qQwnQcB.png');
	max-height: 134px;
	object-position: bottom;
}
#denCards img[src$="overview.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/RsMSKLS.png');
	max-height: 134px;
	object-position: center;
}
#denCards img[src$="breeding.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/rCH3Meq.png');
	max-height: 134px;
	object-position: bottom;
}
#denCards img[src$="pupsitting.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/Fcbs9de.png');
	max-height: 134px;
	object-position: center;
}
#denCards img[src$="nesting.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/CUfad03.png');
	max-height: 134px;
	object-position: bottom;
}
#denCards img[src$="socializing.png"] {
	object-fit: cover;
	content: url('https://i.imgur.com/FHa8oXc.png');
	max-height: 134px;
	object-position: bottom;
}
#denCards .card-header {
	border-radius: 0px;
	padding: 3px;
	backdrop-filter: blur(1px);
	background: #00000078;
	color: var(--6);
}
#denCards img {
	transition: .3s ease;
	border: solid 1px var(--2);
}
#denCards img:hover {
	filter: brightness(130%)!important;
	border: solid 1px var(--6);
	box-shadow: 0 0 10px var(--6);
	transition: .3s ease;
}
#main form .table th {
	text-align: center;
	font-size: 1rem;
}
#main form .table-striped tbody tr:nth-of-type(odd) {
	background-color: var(--1);
	color: var(--6);
}
#main form .table-striped tbody tr:nth-of-type(odd) a,
#main form .table-striped tbody tr:nth-of-type(even) a {
	color: var(--5);
	transition: .3s ease;
}
#main form .table-striped tbody tr a:hover {
	text-shadow: 0 0 4px;
	color: var(--6);
}
#main form .table-striped tbody tr:nth-of-type(even) {
	background-color: var(--2);
	color: var(--6);
}
