/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #5393 on wolvden.com
    code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); :root {
    --font: "Cormorant Infant", serif;
    --font2: "Great Vibes", serif;
    --1: #000000;
    --2: #031018;
    --3: #2a465c;
    --4: #316d92;
    --5: #8d9ea5;
    --6: #ffffff;
}

body {
    font-family: var(--font);
    background-image: url('https://i.imgur.com/VCER3YC.jpeg');
}
.alert {
    background: linear-gradient(to right, transparent, var(--3), transparent);
    border-image: linear-gradient(to right, #ffffff00 0%, var(--5) 50%, #00000000 100%) 1;
    text-align: center;
    border-width: 1px;
}
#main h1 {
    font-family: var(--font2);
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: var(--6);
    text-shadow: 0 0 18px var(--4), 0 0 5px var(--6);
}
#main {
    background: #031018e8;
}
#header .navbar-main {
    background: linear-gradient(to right, var(--1), var(--2), var(--1));
    margin-top: 1rem;
    border-radius: 10px 10px 0px 0px;
#header .navbar-main a {
    color: var(--5)!important;
    font-weight: bold;
}
#header .navbar-main a i {
    color: var(--5)!important;
}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
    color: var(--6);
    text-shadow: 0 0 6px var(--5);
}
.nav-tabs .nav-link {
	border: none;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    color: var(--5);
    text-shadow: 0 0 6px var(--4);
	transition: .3s ease;
}
.nav-tabs .nav-link:hover {
    color: var(--6);
	text-shadow: 0 0 6px var(--5);
    transition: .3s ease;
}
#main .nav-link[href*='/profile/']:after { content: '\f7cf'; font-family: 'Font Awesome 5 Free'; font-size: 14px; padding-right: 15px;}
#main .nav-link[href*='/den/']:after { content: '\f6fc'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
.snowflake {
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 0 5px var(--6);
}
.snowflake,.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes snowflakes-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(110vh);
    }
}

@keyframes snowflakes-shake {
    0%,100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80px);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.snowflake .inner {
    animation-duration: 10s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s;
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s;
}

.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: .5s;
}

.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}
