/* do not remove credit, edit code or reupload/share 
this code is *not* free-to-use, made for #103095 on wolvden.com
code by #6488 on wolvden, @poikel on github.io*/

@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
:root {
  --font: "Chilanka", cursive;
  --main: #2c6343;
  --border: #20482d;
  --eng: #233e11;
  --hun: #689c39;
  --hp: #e0fb70;
  --exp: #587c2b;
  --row: #7b8d39;
  --link: #b2dab1;
  --text: #6d9853;
  --text2: #b1c46e;
}
* {cursor: url(https://cur.cursors-4u.net/nature/nat-1/nat4.cur), auto !important;}
#header nav.navbar.navbar-status.navbar-expand div button:focus {box-shadow: none;}
#main .card, .table .subheader {background-color: transparent;}.justify-content-between.mb-3 div { border: none !important; }
a, table th, #denCards b {color:var(--link)!important;}
a {transition:.3s ease;}
a:hover {
  text-decoration: none!important;
  transition: .3s ease;
  color: var(--hp)!important;
}
h1, h2, h3, h4, h5, .text-muted, .d-lg-inline,  small, .b, b, .text-danger, .breadcrumb-item.active, .breadcrumb-item, .breadcrumb-item:before, #main, #main > table > tbody > tr:nth-child(1) > th a {color:var(--text)!important;}
.alert {background: var(--main);border:2px solid var(--border);box-shadow: 0 0 2px var(--border);color:var(--text);}
.alert .fas {color:var(--link);}
body {
  font-family: var(--font);
  background-image: url("https://i.imgur.com/yAtnBwt.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#main, #sidebar {
  margin-top: .8em;
}
#main {
  background: var(--main);
  border: 2px var(--border) solid;
  box-shadow: 0 0 2px var(--border);
  font-weight: bold;
  text-shadow: 0 0 2px var(--eng);
}
#sidebar {
  background: none;
}
#sidebar .card {
  background: var(--main);
  border: 2px var(--border) solid;
  box-shadow: 0 0 2px var(--border);
  color: var(--text2);
  text-shadow: 0 0 2px var(--eng);
}
.nav-tabs {
  justify-content: left;
  border: none;
}
.nav-tabs .nav-link.active {
  border: none;
  background-color: transparent;
  color: var(--link)!important;
}
.nav-tabs .nav-link {
  border: none;
  color: var(--text)!important;
  text-shadow: 0 0 2px var(--eng)!important;
}
.nav-tabs .nav-link:hover {color:var(--link)!important;}
#header .navbar-main {
  background: var(--main);
  border: 2px solid var(--border);
}
#header .navbar-main a {
  transition: .3s ease;
  text-shadow: 0 0 4px var(--eng);
}
#header .navbar-main a i {
  font-size: 0px!important;
}
.navbar-main a i {font-size: 0px!important;color:var(--wh)!important;}
#main-menu>ul>li:nth-child(1)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f724'!important;
}
#main-menu>ul>li:nth-child(2)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f185'!important;
}
#main-menu>ul>li:nth-child(3)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f5d7'!important;
}
#main-menu>ul>li:nth-child(4)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f56b'!important;
}
#main-menu>ul>li:nth-child(5)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f4ba'!important;
}
#main-menu>ul>li:nth-child(6)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f72d'!important;
}
#main-menu>ul>li:nth-child(7)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f801'!important;
}
#main-menu>ul>li:nth-child(8)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f75c'!important;
}
#header .navbar-main a:hover {
  color: var(--link)!important;
  transition: .3s ease;
  text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
#header .navbar-status {
  background: var(--border);
}
.breadcrumb:after {
  font-family: "Font Awesome 5 Free", var(--font);
  content: '🌱 css by #6488';
  display: block;
  font-size: .7rem;
  position: absolute;
  color: var(--link);
}
#header .breadcrumb-nav {
  background: var(--main);
  border: 2px solid var(--border);
  margin-bottom: 1em;
  font-size: 0px;
}
#header .breadcrumb-nav #bookmarkPage {font-size: .9rem;}
.fa-bookmark:before {content:'\f06c';}
#denCards img[src$="packdynasty.png"] {
  content: url('https://i.imgur.com/wzskAIE.png');
  object-fit: cover!important;
  height: 140px;
}
#denCards img[src$="packoverview.png"] {
  content: url("https://i.imgur.com/Gpc6sw9.png");
  object-fit: cover!important;
  height: 140px;
}
#denCards img[src$="breeding.png"] {
  content: url("https://i.imgur.com/770ZcSl.png");
  object-fit: cover!important;
  height: 140px;
}
#denCards img[src$="pupsitting.png"] {
  content: url("https://i.imgur.com/U7Znl4v.png");
  object-fit: cover!important;
  height: 140px;
}
#denCards img[src$="nesting.png"] {
  content: url("https://i.imgur.com/i3wk34O.png");
  object-fit: cover!important;
  height: 140px;
}
#denCards img[src$="socializing.png"] {
  content: url("https://i.imgur.com/t4XfDqh.png");
  object-fit: cover!important;
  height: 140px;
}
small, td a, .table .subheader {color:var(--text2)!important;}
.bg-warning {background:var(--eng)!important;}
.bg-danger {background:var(--hun)!important;}
.bg-info {background:var(--hp)!important;}
.bg-success {background:var(--exp)!important;}
.bg-primary {background:var(--text2)!important;}
.progress {background:rgba(0,0,0,0.2)!important;}
.w-50 a img, .w-50 div a img, #main table tbody tr td div.col-xl-3.col-sm-7.text-center div a img,
#main table tbody tr td div a:nth-child(3) img {
  border-radius: 100px;
  border: 2px solid var(--border);
  box-shadow: 0 0 2px var(--eng);
}
#main > table > tbody > tr:nth-child(1) > th a:hover {
  color: var(--text2)!important;
}
.table {border: none;}
.table th, td.bottom {
  background-color: var(--row)!important;
  border: none;
}
.table-striped tbody tr:nth-of-type(odd){
  background: var(--main);
}
#main > table > tbody > tr:nth-child(2) {
  background: var(--main)!important;
}
.border-bottom {
  margin-bottom: 3px!important;
  padding: 0!important;
  border: none!important;
}
.bg-light, .bg-dark {
  background: var(--main)!important;
}
#main .table-striped tbody tr:nth-of-type(odd){
  background-color: var(--border)!important;
  border: none;
  color: var(--text2)!important;
}
select.form-control, select.form-control:active, select.form-control:focus {
  background: var(--main);
  border: 2px solid var(--border);
  color: var(--text2);
  box-shadow: none;
}
.btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
  background: var(--border);
  color: var(--text);
  font-weight: bold;
  border: none;
}
.btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-primary:hover, .btn-info:hover {
  background: var(--border);
  color: var(--text2);
}
.btn-success:active, .btn-danger:active, .btn-warning:active, .btn-primary:active, .btn-info:active {
  background: var(--eng)!important;
  color: var(--text2)!important;
  text-decoration: underline;
}
.btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-primary:focus, .btn-info:focus, .btn {box-shadow:none!important;}
.dropdown-menu, .s-chat-sidebar #fraChatChannelMenu {
  background: var(--main)!important;
  border: 2px solid var(--border)!important;
  box-shadow: 0 0 .2em var(--border);
  border: none;
}
#txtChatContainer #lblCharacterCounter {color:var(--link);}
#fra_chatContainer #txtChatInput {
  background: var(--border);
  border: none;
  color: var(--text2);
  padding-left: .4em;
}
.s-chat-sidebar #label_currentChannel{
  background:var(--main);border: 2px var(--border) solid;color:var(--text2);box-shadow: 0 0 2px var(--border);
}
.s-chat-sidebar #fraChatChannelMenu {margin-top: .4em;}
#fra_chatContainer .channelMenu .channelSwitcher {color:var(--link);}
#fra_chatContainer .channelMenu .channelSwitcher:hover {background:var(--border);}
#fra_chatContainer .channelMenu .channelSwitcher.active {color:var(--text2);background:var(--border);}
#chatMessagePinned{display:none;}
.s-chat-message:nth-of-type(odd) {background-color:var(--main)!important;}
.s-chat-message:nth-of-type(even) {background-color:var(--border)!important;}
.s-chat-message {color:var(--text2);}
.s-chat-message_claim {background:var(--border);color:var(--text2);border:none;}
#chatMessageContainer {
  border-radius: 0px;
  border: 2px solid var(--border);
}
.dropdown-item, .dropdown-item:hover {
  background: none;
}
a.dropdown-item {
  color:var(--link)!important;
  transition: .3s ease;
  text-shadow: 0 0 2px var(--border);
}
a.dropdown-item:hover {
  text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
.dropdown-divider {display:none;}
.left {background:var(--border)!important;}
::-webkit-scrollbar {
  background: var(--border);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--main);
}
#footer {
  background: var(--main);
  color: var(--text);
  font-weight: bold;
  margin-top: 1rem;
  border: 2px solid var(--border);
}
.copyright:after {
  font-family: "Font Awesome 5 Free", var(--font);
  display: block;
  margin-top: .4em;
  content: '\f06c\00a0 css by #6488';
  color: var(--link);
}
