/* do not remove credit, edit code or reupload/share 
this code is *not* free-to-use, made for #103095 on wolvden.com
code by #6488 on wolvden, @poikel on github.io*/

@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
:root {
  --font: "Chilanka", cursive;
  --main: #2c6343;
  --border: #20482d;
  --eng: #233e11;
  --hun: #689c39;
  --hp: #e0fb70;
  --exp: #587c2b;
  --row: #7b8d39;
  --link: #b2dab1;
  --text: #6d9853;
  --text2: #b1c46e;
}
* {cursor: url(https://cur.cursors-4u.net/nature/nat-1/nat4.cur), auto !important;}
#header nav.navbar.navbar-status.navbar-expand div button:focus {box-shadow: none;}
#main .card, .table .subheader {background-color: transparent;}.justify-content-between.mb-3 div { border: none !important; }
a, table th, #denCards b {color:var(--link)!important;}
a:hover {text-decoration: none!important;}
h1, h2, h3, h4, h5, .text-muted, .d-lg-inline,  small, .b, b, .text-danger, #main, #main > table > tbody > tr:nth-child(1) > th a {color:var(--text)!important;}
body {
  font-family: var(--font);
  background-image: url("https://i.imgur.com/yAtnBwt.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#main {
  background: var(--main);
  border: 2px var(--border) solid;
  box-shadow: 0 0 2px var(--border);
  font-weight: bold;
  text-shadow: 0 0 2px var(--eng);
}
#header .navbar-main {background:var(--row);}
#header .navbar-main a {transition: .3s ease;}
#header .navbar-main a i {font-size: 0px!important;}
.navbar-main a i {font-size: 0px!important;color:var(--wh)!important;}
#main-menu>ul>li:nth-child(1)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f724'!important;
}
#main-menu>ul>li:nth-child(2)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f185'!important;
}
#main-menu>ul>li:nth-child(3)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f5d7'!important;
}
#main-menu>ul>li:nth-child(4)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f56b'!important;
}
#main-menu>ul>li:nth-child(5)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f4ba'!important;
}
#main-menu>ul>li:nth-child(6)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f185'!important;
}
#main-menu>ul>li:nth-child(7)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f185'!important;
}
#main-menu>ul>li:nth-child(8)>a i:after {
  font-size: .8rem;
  font-family: 'Font Awesome 5 Free' !important;
  content: '\f185'!important;
}
#header .navbar-main a:hover {
  transition: .3s ease;
  text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
.w-50 a img, .w-50 div a img, #main table tbody tr td div.col-xl-3.col-sm-7.text-center div a img,
#main table tbody tr td div a:nth-child(3) img {
  border-radius: 100px;
}
.table {border: none;}
#main > table > tbody > tr:nth-child(2),
#main > table > tbody > tr:nth-child(2) > td > div.col-xl-6.col-sm-12.order-xl-9.order-12 > table {background: var(--main)!important;}
.table th, .table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--border);
  border: none;
}
.border-bottom {
  margin-left: 3px!important;
  margin-bottom: 3px!important;
  padding: 0!important;
  border: none!important;
}
#main form:nth-child(14) table, #main form:nth-child(15) table, table, #main form .table-striped tbody tr:nth-of-type(odd){
  background-color: var(--row)!important;
  border: none;
  color: var(--text2)!important;
}
small, td a, .table .subheader {color:var(--text2)!important;}
#sidebar .card {
  background: var(--main);
  border: 2px var(--border) solid;
  box-shadow: 0 0 2px var(--border);
  color: var(--text2);
  text-shadow: 0 0 2px var(--eng);
}
#sidebar {
  background: none;
}
.bg-warning {background:var(--eng)!important;}
.bg-danger {background:var(--hun)!important;}
.bg-info {background:var(--hp)!important;}
.bg-success{background:var(--exp)!important};
