/* do not remove credit, edit code or reupload 
this code is *not* free-to-use, made for #32895 on lioden
code by #6488 on wolvden, #154799 on lioden, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
:root {
    --1: #B98B73;
    --2: #CB997E;
    --3: #DDBEA9;
    --4: #FFE8D6;
    --5: #D4C7B0;
    --6: #B7B7A4;
    --7: #A5A58D;
    --8: #6B705C;
    --9: #3F4238;
    --10: #1E1F1D;
    --font: 'Newsreader', serif;
}
.alert {
}
.alert a {
    color: var(--9);
    font-weight: bold;
}
.alert a:hover {
}
body {
    background-image: url('https://i.imgur.com/1vNv6lS.png');
    background-size: 100%;
    font-family: var(--font);
    text-transform: lowercase;
}
.topbar {
    background: var(--8);
    margin-top: 1.5rem;
    border-radius: 20px;
    color: var(--4);
    border: 1px solid var(--9);
}
.topbar .welcomeback {
    margin-left: 5px;
}
.topbar a {
    color: var(--4)!important;
    font-weight: bold;
}
.topbar a:hover {
}
img[src$="silver.png"] {
}
img[src$="gold.png"] {
}
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
    content: url('https://www.lioden.com/images/items/Other/antiaging.png');
    filter: drop-shadow(0 0 4px);
    padding: 1rem;
}
.navbar {
    width: 89%;
    margin-left: 6rem;
    border-radius: 30px;
    background-color: var(--7);
    border: 1px solid var(--9);
}
@media only screen and (min-width: 992px) {
.navbar:after {
    content: url('https://i.imgur.com/mZuWgzV.png');
    position: absolute;
    scale: 1;
    z-index: 2;
    transform: translate(95.3rem, -70px);
    filter: drop-shadow(0 0 4px);
    }
}
.navbar a {
    color: var(--9)!important;
    text-transform: lowercase;
    padding: 2rem;
}
.navbar a:hover {
    background: none!important;
    color: var(--4)!important
}
.container.main {
    background: none;
    box-shadow: none;
}
.container.main h1 {
    text-align: center;
}
.col-md-3 {
    
}
.panel {
}
.col-md-9.col-xs-12 {
    background: none;
}
