/* do not remove credit, edit code or reupload 
this code is *not* free-to-use, made for #32895 on lioden
code by #6488 on wolvden, #154799 on lioden, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
:root {
    --1: #B98B73;
    --2: #CB997E;
    --3: #DDBEA9;
    --4: #FFE8D6;
    --5: #D4C7B0;
    --6: #B7B7A4;
    --7: #A5A58D;
    --8: #6B705C;
    --9: #3F4238;
    --10: #1E1F1D;
    --font: 'Newsreader', serif;
}
.alert {
    text-align: center;
    color: var(--9);
    font-weight: bold;
    background: var(--7);
    border-radius: 20px;
    border: 1px solid var(--9);
}
.alert a {
    color: var(--9);
    font-weight: bold;
    transition: .2s ease;
}
.alert a:hover {
    color: var(--4);
    transition: .2s ease;
}
body {
    background-image: url('https://i.imgur.com/1vNv6lS.png');
    background-size: 100%;
    font-family: var(--font);
    text-transform: lowercase;
}
.topbar {
    background: var(--8);
    margin-top: 1.5rem;
    border-radius: 20px;
    color: var(--9);
    font-weight: bold;
    border: 1px solid var(--9);
}
.topbar .welcomeback:before {
    content: ' ✿ —\00a0'
}
.topbar .welcomeback {
    margin-left: 5px;
}
.topbar a {
    color: var(--4)!important;
    font-weight: bold;
}
.topbar a:hover {
}
img[src$="silver.png"] {
}
img[src$="gold.png"] {
}
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
    content: url('https://www.lioden.com/images/items/Other/antiaging.png');
    filter: drop-shadow(0 0 4px);
    padding: 1rem;
    color: black;
}
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img:hover {
    color: black;
}
.navbar {
    width: 89%;
    margin-left: 6rem;
    border-radius: 30px;
    background-color: var(--7);
    border: 1px solid var(--9);
    margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
.navbar:after {
    content: url('https://i.imgur.com/mZuWgzV.png');
    position: absolute;
    scale: 1;
    z-index: 2;
    transform: translate(95.3rem, -70px);
    filter: drop-shadow(0 0 4px);
    }
}
.navbar a {
    color: var(--9)!important;
    text-transform: lowercase;
    padding: 2rem;
    transition: .2s ease;
}
.navbar a:hover {
    background: none!important;
    color: var(--4)!important;
    transition: .2s ease;
}
.navbar-default .navbar-nav > li > a {
    padding-left: 1rem;
    margin-left: 2.5rem;
}
.container.main {
    background: none;
    box-shadow: none;
}
.container.main h1 {
    text-align: center;
    color: var(--9);
    text-shadow: 0 0 1px var(--10);
}
.sidebar {
    background-color: #ddbea95e;
    border-radius: 0 20px 20px 0px;
}
.sidebar h3 {
    text-align: center;
    color: var(--9);
    background: var(--4);
    padding: .4rem;
    border-radius: 20px;
}
.sidebar h3:before {
    content: '✿ \00a0'
}
@media only screen and (min-width: 992px) {
.sidebar #btnToggleSidebarChat {
    position: absolute;
    left: 20rem;
    top: -3.3rem;
    }
}
body > div.container.main > div:nth-child(2) > div.sidebar.col-md-3.visible-xs.visible-sm.col-xs-12.visible-md.visible-lg > div.col-md-12.col-xs-12 > h3 > div:nth-child(2) > a {
    position: absolute;
    width: 70px;
    right: 1rem;
    top: .7rem;
    line-height: 10px;
}
.sidebar a {
    color: var(--10);
}
.panel {
    background: var(--1)!important;
    box-shadow: none!important;
    border: solid 1px var(--3)!important;
    border-radius: 20px!important;
    padding-top: .3rem;
    color: var(--5);
    text-shadow: 0 0 1px var(--9)!important;
    font-weight: bold;
}
.panel a {
    color: var(--4);
    text-shadow: 0 0 1px var(--10);
    transition: .2s ease;
}
.panel a:hover {
    color: var(--6);
    transition: .2s ease;
}
.progress div {
    color: var(--9);
    padding-top: 2px;
}
.progress {
    border-radius: 20px;
    background: var(--4);
    font-weight: bold;
}
.progress-bar {
    background: linear-gradient(to right, var(--7), var(--5))!important;
    box-shadow: none;
    border: 1px solid var(--5);
    border-radius: 20px;
}
.col-md-9.col-xs-12 {
    background: #ddbea95e;
    border-radius: 20px 0px 20px 20px
}
.breadcrumb {
    background: transparent;
}
.breadcrumb a {
    color: var(--10);
}
.breadcrumb .active,
.breadcrumb>li+li:before {
    color: var(--9);
}
#btnToggleSidebarChat {
    padding-left: .5rem!important;
    padding-top: .5rem!important;
}
input {
    background: var(--8)!important;
    border-radius: 7px!important;
    text-shadow: none!important;
    text-transform: lowercase!important;
    color: var(--9)!important;
    border: 1px solid var(--9)!important;
    transition: .2s ease;
}
input:hover {
    color: var(--4)!important;
    transition: .2s ease;
}
#lion_image:after {
    content: url('https://i.imgur.com/uwx3Cl6.png');
    left: 0px;
    top: -5px;
    position: absolute;
    filter: saturate(1) drop-shadow(0 0 1px var(--10));
}
.table .top {
    border-radius: 20px 20px 0px 0px;
    background: var(--6);
    border-bottom: 3px double var(--7);
    color: var(--8);
}
td.bottom {
    border-radius: 0px 0px 20px 20px;
    background: var(--6)!important;
    border-top: 3px double var(--7)!important;
}
.table {
    background: var(--5);
    border-radius: 20px;
    border: none;
}
.table a {
    color: var(--8)!important;
    text-decoration: none!important;
}
.table hr {
    visibility: hidden;
}
.inner-table .right {
    background: var(--4);
    font-weight: bold;
    color: var(--9);
}
.inner-table .left {
    background: var(--1);
    border-right: 4px double var(--4);
}
