/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #73194 on wolvden.com
    code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
:root {
    --1: #192524;
    --2: #3C5759;
    --3: #959D90;
    --4: #D1EBDB;
    --5: #D0D5CE;
    --6: #EFECE9;
    --7: #223030;
    --8: #523D35;
    --9: #959D90;
    --10: #BBA58F;
    --11: #E8D9CD;
    --12: #EFEFE9;
    --font: 'Baskervville SC', serif;
}
body {
    font-family: var(--font);
    background: var(--3);
    color: var(--5);
}
a {
    color: var(--9);
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
#header .navbar-main {
    background: var(--8);
    border-radius: 10px 10px 0px 0px;
    margin-top: 1rem;
    border-bottom: double 4px var(--10)
}
#header .navbar-main a {
    font-size: 1rem!important;
    color: var(--10)!important;
    font-weight: bold!important;
    text-shadow: 0 0 2px var(--8);
}
#header .navbar-main a i {
    color: var(--10)!important;
}
#header .navbar-status {
    background: var(--10)!important;
    color: var(--6);
    font-weight: bold;
    border-bottom: 4px double var(--5)
}
#header .navbar-status a {
    color: var(--5);
}
.badge {
    background: var(--3);
    color: var(--6);
}
#header .breadcrumb-nav {
    background: var(--5);
}
#header .breadcrumb-item.active,
.breadcrumb-item:before {
    color: var(--3)!important;
    font-weight: bold;
}
#bookmarkPage {
    color: var(--9)!important;
}
#sidebar {
    background: var(--5);
}
#sidebar .card {
    background: var(--12);
    border-radius: 10px;
    box-shadow: none;
    border-bottom: none;
}
.justify-content-between.mb-3 div { border: none !important; }
#sidebar .card h4 {
    color: var(--1);
    text-transform: uppercase;
    font-weight: bold;
    font-size:.9rem;
}
#sidebar .w-50 > a img,
#sidebar .w-50 div a img {
    border-radius: 100px;
    border: solid 2px;
    filter: sepia(.2)
}
#sidebar .card span {
    color: var(--1);
    font-weight: bold;
}
#sidebar .progress {
    margin-top: .1rem;
}
div.progress {
    background: var(--8)!important;
    border-radius: 100px;
}
.progress-bar {
    background: linear-gradient(90deg, var(--10), var(--11))!important;
    border-radius: 100px;
    border: 1px solid var(--8);
}
#main {
    background: var(--5);
}
.nav-tabs {
    justify-content: center!important;
    border: none!important;
}
.nav-tabs .nav-link.active {
    margin-right: 1rem!important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link {
    background: var(--12)!important;
    border-radius: 15px!important;
    border: none!important;
}
