/* do not remove credit, edit code or reupload 
this code is *not* free-to-use, made for #10298 on wolvden.com
code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
:root {
	--bl: #000000;
	--r1: #190106;
	--r2: #33010c;
	--r3: #4d0211;
	--r4: #660317;
	--r5: #80041d;
	--r6: #990423;
	--r7: #b30529;
	--text: "DotGothic16", sans-serif;
	--text2: "Rubik Iso", system-ui;
	--text3: "Anta", sans-serif;
}
* {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur271.cur), auto !important;}
::-webkit-scrollbar {
	width: 7px;
	background: var(--r1);
}
::-webkit-scrollbar-thumb {
	border-radius:30px;
	background: var(--r3);
}
a:hover {text-decoration:none!important;}
#main .card {background-color: transparent;}
.alert {
	background: var(--r2);
	border-radius: 7px;
	border: 1px solid var(--r7);
	box-shadow:
		0 0 0.2rem var(--r7),
	    0 0 .2rem var(--r7),
        inset 0 0 1.3rem var(--r7);
	text-align: center;
	font-family: var(--text3);
	text-transform: uppercase;
	margin-top: 2rem;
}
.alert a{transition: .5s ease-in-out;}
.alert a:hover {
	animation: blink 1.5s infinite;
	transition: .5s ease-in-out;
	text-decoration: none;
}
#header .navbar-main {
	margin-top: 1rem;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 1rem var(--r7);
	font-family: var(--text2);
	background: var(--bl);
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
	0 0 4px var(--r4),
	0 0 11px var(--r5),
	0 0 18px var(--r6),
    0 0 25px var(--r7);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}
#header .navbar-main a {
	color: var(--r7)!important;
	text-shadow:
	0 0 4px var(--r4),
	0 0 11px var(--r5),
	0 0 18px var(--r6),
    0 0 25px var(--r7);
	font-weight: bold;
	font-size: 1rem!important;
	animation: flicker 2s infinite alternate;
}
#header .navbar-main a i {
	font-size: 0!important;
}
#header .navbar-main a i:after {
	font-size: .875rem;
	font-family: 'Font Awesome 5 Free';
	content: '\f078' !important;
	color: var(--r7);
}
#header .navbar-main a:hover, #header .navbar-main a:hover i {
	animation: blink 1.5s infinite;
}
#header .navbar-status {
	margin-top: 1rem;
	border: 1px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	background: var(--bl);
	color: var(--r4);
	font-family: var(--text3);
	font-size: 12px;
}
.small, small,#txtChatContainer > div:nth-child(1) > span > a {color: #fff!important; }
#header .navbar-status a {
	color: var(--r4);
	text-transform: uppercase;
}
#txtChatContainer > div:nth-child(1) > span > a {
	font-family: var(--text3);
}
@keyframes blink {
	0% { opacity: 0.5 ;}
	25% { opacity: 1.0; }
	50% { opacity: 0.5; }
	75% { opacity: 1.0; }
	100% { opacity: 0.5; }
}
#header .navbar-status a:hover {
	color: var(--r7);
	transition: .2s ease-in-out;
	animation: blink 1.5s infinite;
}
#header .user_current_sc:after { content: ' SC'; }
#header .user_current_gc:after { content: ' gc'; }
.icon-beetle-gold, .icon-beetle-silver { display: none; }
.d-lg-inline {font-weight: bold;font-size:14px;text-transform:uppercase;}
button.btn.dropdown-toggle{color:#fff!important;}
button.btn.dropdown-toggle:hover {text-shadow: 0px 0px 8px #fff;}
button.btn.dropdown-toggle:focus {box-shadow: none!important;}
#header .breadcrumb-nav {visibility: hidden}
#main:before {
	position: absolute;
	right: 20px;
	content: '\f121\00a0 css by #6488';
	visibility: visible;
	font-family: var(--text), "Font Awesome 5 Free";
	font-size: 11px;
	text-shadow:
	0 0 4px var(--r4),
	0 0 11px var(--r5),
	0 0 18px var(--r6),
    0 0 25px var(--r7);
	color: var(--r7);
	font-weight: bold;
	z-index: 1;
}
body {
	background-image: url('https://i.imgur.com/D7I1y5k.jpeg');
	background-position: left center;
}
#main {
	background: rgba(0,0,0,0.8);
	border: 1px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#main h1 {
	color: var(--r7)!important;
	text-shadow:
	0 0 4px var(--r4),
	0 0 11px var(--r5),
	0 0 18px var(--r6);
	font-weight: bold;
	font-size: 3em!important;
	text-align: center;
	font-family: var(--text3);
}
#sidebar {background: none;}
.w-50 > a img, .w-50 div a img {
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	border-radius:100%;
}
#sidebar .card {
	border: 1px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	background: rgba(0,0,0,0.8);
	font-family: var(--text3);
	color: var(--r4);
}
#sidebar .card-title {
	color: var(--r7)!important;
	text-shadow:
	0 0 4px var(--r4),
	0 0 11px var(--r5),
	0 0 18px var(--r6);
}
.justify-content-between.mb-3 div { border: none !important; }
#sidebar a {
	color: #fff;
	transition: .3s ease;
}
#sidebar a:hover {
	text-decoration: none;
	text-shadow:
	0 0 4px #fff,
	0 0 11px #fff;
	animation: blink 1.5s infinite;
	transition: .3s ease;
}
.progress {background:#ffffff17!important;border-radius:100px;margin-bottom: 2px;margin-top: 2px;}
.bg-warning, .bg-danger, .bg-info, .bg-primary, .bg-success {
	background: linear-gradient(90deg, var(--r2), var(--r5));
	border: 1px solid var(--r5);
	border-radius: 100px;
}
#main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf > a:nth-child(3) > img,
#main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-7.text-center > div > a > img {
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	border-radius: 100%;
	margin-top: .5em;
}
#main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-7.text-center > div > a > img, #main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-7.text-center > div > div > img {margin-left: .9em;}
.table {
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	font-family: var(--text3);
	font-size: 1rem;
	color: 
}
.table th, .table-striped tbody tr:nth-of-type(odd) {
	background: none!important;
}
.table th {
	text-align: center;
	border-bottom: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	color: #fff;
}
.table td {color: #fff;}
.text-light:hover, #main > table > tbody > tr:nth-child(2) > td > div.col-xl-6.col-sm-12.order-xl-9.order-12 > table > tbody > tr:nth-child(1) > td:nth-child(2) > a:hover{animation: blink 1.5s infinite;}
.table th a, .table td a{color:var(--r7);}
.table th a:hover {text-decoration: none!important;animation: blink 1.5s infinite;}
.bg-light, .bg-dark {background:none!important;}
.badge {background: var(--r5);} .text-wrap {color: #fff;}
img.rounded-bottom {
	padding: 0!important;
	border-radius: 100%!important;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	margin-top: 8px;
}
.btn-primary, .btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
	background: var(--r3);
	border: none;
	border-radius: 30px;
	border: 2px solid var(--r2);
	font-family: var(--text3);
}
.btn-primary:hover, .btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-primary:hover, .btn-info:hover
.btn-primary:focus, .btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-primary:focus, .btn-info:focus {
	background: var(--r2)!important;
	border: none!important;
	border-radius: 30px!important;
	border: 2px solid var(--r1)!important;
	box-shadow: none!important;
}
#main .nav-link {
	font-size: 0;
}
#main .nav-link[href*='/profile/']:after { content: '\f007'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
#main .nav-link[href*='/den/']:after { content: '\f015'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
.nav-tabs {
	justify-content: center;
	border: none;
	transition: ease-in-out;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
	color: var(--r7);
	transition: ease-in-out;
}
.nav-tabs .nav-link {
	border: none;
	background-color: transparent;
	color: var(--r4);
	transition: ease-in-out;
}
.nav-tabs .nav-link:hover {
	animation: blink 1.5s infinite;
	transition: ease-in-out;
}
td.bottom {background: none!important;}
select.form-control, select.form-control:focus {
	background: var(--r3);
    border: none;
    border-radius: 30px;
    border: 2px solid var(--r2);
    font-family: var(--text3);
	box-shadow: none;
	color: #fff;
}
#chatMessagePinned {display: none;}
#chatMessageContainer {
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	color: #fff;
	font-family: var(--text3);
}
.s-chat-sidebar #label_currentChannel, #fra_chatContainer #txtChatInput {
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
	color: #fff;
	font-family: var(--text3);
	background: var(--bl);
}
#fra_chatContainer #txtChatInput {
	padding: 6px;
	margin-bottom: .3rem;
}
.s-chat-message {
	background: var(--r2)!important;
	color: #fff;
}
.s-chat-message a {color: var(--r7);}
.s-chat-message a:hover {animation: blink 1.5s infinite;}
.dropdown-menu {
	background: var(--bl);
	margin-top: .8rem;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
.dropdown-item {
	background: none;
}
a.dropdown-item {
	color: var(--r6)!important;
	text-shadow: 0 0 8px var(--r5);
}
.dropdown-item:hover {
	background: none;
}
.dropdown-divider {display: none;}
.s-chat-sidebar #fraChatChannelMenu {
	background: var(--bl);
	margin-top: .5rem;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#fra_chatContainer .channelMenu .channelSwitcher {
	color: var(--r6)!important;
	text-shadow: 0 0 8px var(--r5);
	font-family: var(--text3);
}
#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: none;
	animation: flicker 4s infinite alternate;
}
#fra_chatContainer .channelMenu .channelSwitcher:hover {
	background: none;
	animation: blink 1.5s infinite;
}

#footer {
	background: none;
	font-family: var(--text);
	font-size: 12px;
}
.copyright:After {
	content: '\f121\00a0 css by #6488';
	display: block;
	padding-top: 1rem;
	font-family: var(--text), 'Font Awesome 5 Free';
}

@media only screen and (min-width:992px) {
.art {
	position: fixed;
	bottom: 10px;
	right: -7em;
	z-index: 5;
	animation: blink 3s ease-in-out infinite;
	}
#main h1 {
	margin-top: 1em;
}
}
#denCards img[src$="dynasty.png"] {
	content: url('https://i.imgur.com/4TDfLq2.gif');
	height: 148px;
	width: 268px;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards img[src$="packoverview.png"] {
	content: url('https://i.imgur.com/JltSD6q.gif');
	height: 148px;
	width: 268px;
	filter: contrast(1.3);
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards img[src$="breeding.png"] {
	content: url('https://i.imgur.com/CuTnd9p.gif');
	height: 148px;
	width: 268px;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards img[src$="pupsitting.png"] {
	content: url('https://i.imgur.com/Nn3qY97.gif');
	height: 148px;
	width: 268px;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards img[src$="nesting.png"] {
	content: url('https://i.imgur.com/XJLorWi.gif');
	height: 148px;
	width: 268px;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards img[src$="socializing.png"] {
	content: url('https://i.imgur.com/vT4PxCh.gif');
	height: 148px;
	width: 268px;
	border: 2px solid var(--r7);
	box-shadow:
	0 0 0.2rem var(--r7),
	0 0 8px var(--r4),
	0 0 16px var(--r5),
	inset 0 0 .5rem var(--r7);
}
#denCards .card-header {
	backdrop-filter: none;
	background: rgba(0,0,0,0.5);
	font-family: var(--text3);
	color: #fff;
	border-radius: 0px;
	width: 98%;
	right: 1%;
	transition: .5s ease;
}
#denCards .card-header:hover {
	text-shadow: 0px 0px 12px #fff;
}
#denCards img:hover {
	filter:contrast(1.5);
	transition: .5s ease;
}
#denCards img {
	transition: .5s ease;
}
