/* do not remove credit, edit code or reupload 
	this code is free-to-use!
code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* { cursor: url('https://i.imgur.com/qpDsiea.png'), auto !important; } a:hover { cursor: url('https://i.imgur.com/ll070JO.png'), auto !important;}
:root{
--red: #F17B74;
--wh: #FDF4E7;
--bei: #EDC0AB;
--or: #D9896E;
--pas: #F6D0DD;
--font: "Jua", sans-serif;
}
#header .navbar-main { background-color: var(--bei);}
#header .breadcrumb-nav {visibility: hidden;}
body {
background-image: url('https://i.imgur.com/xuZZ22B.png');
background-size: contain;background-repeat: repeat-x;
font-family: var(--font);}
