/* do not remove credit, edit code or reupload/share 
this code is *not* free-to-use, made for #53539 on wolvden.com
code by #6488 on wolvden, @poikel on github.io*/

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
:root {
	--font: "Delius Swash Caps", cursive;
	--bl: #070409;
	--dp: #221336;
	--wh: #e7c9fb;
	--p: #3c1b63;
	--p2: #5e1fa5;
	--p3: #b26fe4;
}
* {cursor: url("https://i.imgur.com/4zHhybf.png"), auto !important;}
#main .card {background-color: transparent;!important} .badge{background:var(--dp);color:var(--wh)}
#header nav.navbar.navbar-status.navbar-expand div button:focus {box-shadow: none;}
.table-striped tbody tr:nth-of-type(odd) {background-color: #ae333300!important;border: none;}
a, .text-muted, .d-lg-inline, small, .b, .text-danger {color: var(--p3)!important;} .justify-content-between.mb-3 div {border: none !important;}
.text-success {color: var(--p2)!important;}
::-webkit-scrollbar {
	width: 7px;
	background: var(--p);
}
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: var(--p3);
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-5px) rotateZ(1.5deg);
  }
	60% {
    transform: translateY(-3px);
  }
}
a {transition:.3s ease;}
a:hover {
	color: var(--wh)!important;
	transition: .3s ease;
	text-decoration: none;
}
body {
	font-family: var(--font);
	background-image: url('https://i.imgur.com/BGs55S1.png');
	color: var(--wh);
}
#main h1 {
	text-align: center;
	text-shadow: 0 0 .2em var(--wh)
}
#main, #sidebar {
	background-color: rgba(0,0,0,0.9);
}
#main .table th, #main td.bottom {
	background-color:var(--p);
	color: var(--wh);
}
#main .table {border: 1px solid var(--p)}
#sidebar .card {
	border-radius: 0px 30px 0px 30px;
	text-shadow: 0 0 .2em var(--bl);
	background-color: var(--p);
	border-bottom: none;
	box-shadow: 0 0 1em var(--p);
	background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
}
#sidebar .bookmarks, #sidebar .card-title {font-weight:bold;text-shadow: 0 0 0.3em var(--bl);}
#sidebar .fa-angle-right:before {
	content: '\f7d4';
}
.w-50 > a img, .w-50 div a img, #main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-7.text-center > div > a > img,
#main > table > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf > a:nth-child(3) > img {
	border-radius: 0px 30% 0px 30%;
	border: solid 2px var(--wh);
	filter:drop-shadow(0 0 4px);
}
#chatMessagePinned{display:none;}
.s-chat-message {background-color:var(--dp)!important;}
#chatMessageContainer {
	border-radius: 0px;
	border: 1px solid var(--wh);
}
#header .navbar-main {
	background-color: var(--dp)!important;
	margin-top: 1em;
}
#header .navbar-status {
	background-color: var(--p)!important;
	background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
	border-top: 2px solid var(--wh);
	font-weight: bold;
}
#header .breadcrumb-nav {
	background-color: rgba(0,0,0,0.9);
	font-size: 0px;
}
#header .breadcrumb-nav #bookmarkPage {font-size: .9rem;margin-top:.5em;color:var(--wh)!important;}
#header .navbar-main a {
	font-size: 1.1em!important;
	font-weight: bold;
	text-shadow: 0 0 .2em var(--bl);
	animation-timing-function: ease-in-out;
	letter-spacing: .04em;
}
.navbar-main a i {font-size: 0px!important;}
.navbar-main a i:after {font-size:.8rem!important;font-family:"Font Awesome 5 Free";content:"\f654";margin-right:3px;color:var(--wh);}
#header .navbar-main a:hover {
	animation: bounce 1.5s infinite!important;
	animation-timing-function: ease-in-out;
}
.progress {background:rgba(0,0,0,0.4)!important;border-radius:10px;border:1px solid var(--wh);margin-top:.4em;}
.bg-warning {background:var(--wh)!important;}
.bg-primary, .bg-success {background:var(--p3)!important;}
.bg-danger {background:var(--p2)!important;}
.bg-info {background:var(--bl)!important;}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
}
.nav-tabs .nav-link {
	border: none;
}
.bg-light, .bg-dark {background: var(--dp)!important;border:none!important;color:var(--p3)!important;}
img.rounded-bottom {
	padding: 0px!important;
}
.dropdown-menu, .s-chat-sidebar #fraChatChannelMenu {
	background: var(--dp)!important;
	box-shadow: 0 0 .2em var(--bl);
	border: none;
}
.s-chat-sidebar #fraChatChannelMenu {margin-top: .4em;}
#fra_chatContainer .channelMenu .channelSwitcher {color:var(--p3);}
#fra_chatContainer .channelMenu .channelSwitcher:hover {background:var(--p);}
#fra_chatContainer .channelMenu .channelSwitcher.active {color:var(--wh);background:var(--p2);}
.dropdown-item, .dropdown-item:hover {
	background: none;
}
a.dropdown-item {
	color:var(--p3)!important;
	transition: .3s ease;
}
a.dropdown-item:hover {
	color: var(--wh)!important;
}
.dropdown-divider {display:none;}
.s-chat-sidebar #label_currentChannel, #fra_chatContainer #txtChatInput {
	background: var(--dp);
	border: none;
}
#fra_chatContainer #txtChatInput {padding-left: .3em;color:var(--wh);}
.btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
	background: var(--p3);
	color: var(--wh);
	font-weight: bold;
	border: none;
}
.btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-primary:hover, .btn-info:hover {
	background: var(--p2);
	color: var(--wh);
}
.btn-success:active, .btn-danger:active, .btn-warning:active, .btn-primary:active, .btn-info:active {
	background: var(--p2)!important;
	color: var(--wh)!important;
	text-decoration: underline;
}
.btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-primary:focus, .btn-info:focus, .btn {box-shadow:none!important;}
#footer {
	background: rgba(0,0,0,0.7);
	color: var(--wh);
}
#footer .copyright:after {
	display: block;
	content: '🔮 css by #6488';
	margin-top: .8em;
}
.breadcrumb:after {
	content: '🔮 css by #6488';
	display: block;
	font-size: .7rem;
	position: absolute;
}
select.form-control, select.form-control:active, select.form-control:focus {
	background: var(--dp);
	border: 1px solid var(--p2);
	color: var(--wh);
}
