/* do not remove credit, edit code or reupload/share 
this code is *not* free-to-use, made for #53539 on wolvden.com
code by #6488 on wolvden, @poikel on github.io*/

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
:root {
	--font: "Delius Swash Caps", cursive;
	--bl: #070409;
	--dp: #221336;
	--wh: #e7c9fb;
	--p: #3c1b63;
	--p2: #5e1fa5;
	--p3: #b26fe4;
}
* {cursor: url("https://i.imgur.com/4zHhybf.png"), auto !important;}
#main .card {background-color: transparent;!important} .badge{background:var(--wh);color:var(--p3)}
#header nav.navbar.navbar-status.navbar-expand div button:focus {box-shadow: none;}
.table-striped tbody tr:nth-of-type(odd) {background-color: #ae333300!important;border: none;}
a, .d-lg-inline, small {color: var(--p3)!important;} .justify-content-between.mb-3 div {border: none !important;}
::-webkit-scrollbar {
	width: 7px;
	background: var(--p);
}
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: var(--p3);
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-5px) rotateZ(1.5deg);
  }
	60% {
    transform: translateY(-3px);
  }
}
body {
	font-family: var(--font);
	background-image: url('https://i.imgur.com/BGs55S1.png');
	color: var(--wh);
}
#main h1 {
	text-align: center;
	text-shadow: 0 0 .2em var(--wh)
}
#main, #sidebar {
	background-color: rgba(0,0,0,0.9);
}
#sidebar .card {
	text-shadow: 0 0 .2em var(--bl);
	background-color: var(--p);
	border-bottom: none;
	box-shadow: 0 0 1em var(--p);
	background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
}
#chatMessagePinned{display:none;}
.s-chat-message {background-color:var(--dp)!important;}
#chatMessageContainer {
	border-radius: 0px;
	border: 1px solid var(--wh);
}
#header .navbar-main {
	background-color: var(--dp)!important;
	margin-top: 1em;
}
#header .navbar-status {
	background-color: var(--p)!important;
}
#header .breadcrumb-nav {
	background-color: rgba(0,0,0,0.9);
	font-size: 0px;
}
#header .breadcrumb-nav #bookmarkPage {font-size: .9rem;margin-top:.5em;color:var(--wh)!important;}
#header .navbar-main a {
	font-size: 1.1em!important;
	font-weight: bold;
	text-shadow: 0 0 .2em var(--bl);
	animation-timing-function: ease-in-out;
	letter-spacing: .04em;
}
.navbar-main a i {font-size: 0px!important;}
.navbar-main a i:after {font-size:.8rem!important;font-family:"Font Awesome 5 Free";content:"\f654";margin-right:3px;color:var(--wh);}
#header .navbar-main a:hover:hover {
	animation: bounce 1.5s infinite!important;
	animation-timing-function: ease-in-out;
}
.progress {background: var(--bl)!important;border-radius:10px;border:1px solid var(--wh);margin-top:.4em;}
.bg-warning, .bg-danger, .bg-info, .bg-primary, .bg-success {background:linear-gradient(90deg, var(--p3), var(--wh));}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
}
.nav-tabs .nav-link {
	border: none;
}
