/* do not remove credit, edit code or reupload 
this code is *not* free-to-use
code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
 :root {
    --text: 'Merriweather', serif;
}

.boxcontainer {
    display: flex;
    height: auto;
    padding: 0px;
    justify-content: center;
}

.art {
    float: left;
    overflow: hidden;
    position: relative;
    margin-bottom: -35px;
    margin-left: 3rem;
    animation: float 3s infinite ease-in-out!important;
}

.box1 {
    float: left;
    color: #e4ddcd;
    height: 100px;
    width: 400px;
    overflow: hidden;
    padding: 20px;
    padding-top: 12px;
    margin-top: 0px;
    font-family: var(--text);
    letter-spacing: -1px;
    margin-left: 0rem;
    font-size: 12px;
    letter-spacing: 0.2px;
    background: linear-gradient(to right, transparent, var(--g), transparent)!important;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, var(--shd), transparent);
    border-image-slice: 1;
    text-shadow: 2px 1px 2px #271611;
}
