/* do not remove credit, edit code or reupload
this code is *not* free-to-use, made for #60258 on wolvden.com
code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
* {cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat160.cur), auto !important;}
:root {
    --font: "Baskervville SC", serif;
    --1: #4c3620;
    --2: #947653;
    --3: #78593a;
    --4: #826c4b;
    --5: #201408;
}
::-webkit-scrollbar {
    background: var(--1);
    width: .5em;
}
::-webkit-scrollbar-thumb {
    background: var(--3);
    border-radius: 20px;
}
.boxcontainer {
    background: none;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.box3 {
    padding: 0px;
    height: 200px;
    width: 34%;
    overflow: auto;
    text-align: left;
    padding: 1rem;
}
a:hover {
    color: var(--5)!important;
    transition: .3s ease;
}
body {
    font-family: var(--font);
    background-image: url("https://i.imgur.com/8j3ySzv.png");
}
