/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #165604 on wolvden.com
    code by #6488 on wd, @poikel on github*/

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
:root {
  --font: "Texturina", serif;
  --1: #392D15;
  --2: #36332E;
  --3: #6A4825;
  --4: #6C5B4B;
  --5: #A48C6A;
}
* {cursor: url("http://www.rw-designer.com/cursor-extern.php?id=242235"), auto!important;}
#header nav.navbar.navbar-status.navbar-expand div button:focus {
    box-shadow: none;
}
.justify-content-between.mb-3 div { border: none !important; }
body {
    background-image: url('https://i.ibb.co/93h25dwS/lynx-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--font);
    color: var(--5);
    text-transform: lowercase;
}
a {
    color: var(--4);
	transition: .1s ease;
}
a:hover {
	color: #9f5d2f!important;
	text-decoration: none;
	transition: .1s ease;
}
#header .navbar-main {
    background-color: var(--4);
}
#header .navbar-main .nav-link {
    color: var(--2);
    text-transform: lowercase;
    font-weight: bolder;
}
#header .navbar-main .nav-link i {
    color: var(--5)!important;
}
@media (min-width: 992px) {
#header .navbar-main .nav-item:first-child {
    margin-left: 4rem;
    }
}
#header .navbar-main .nav-link:hover {
	letter-spacing:0.1rem!important;
	text-shadow: 0 0 5px;
}
#header .navbar-status {
    background-color: var(--2);
    text-transform: lowercase;
    color: var(--5);
    font-weight: bolder;
}
#header .navbar-status a {
    color: var(--5);
}
#header .navbar-status button {
	color: var(--5)!important;
}
i.icon.icon-beetle-gold,
i.icon.icon-beetle-silver {
	display: none !important;
}
span.user_current_sc:before {
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f5d7';
	font-size: 14px;
	padding-right: 3px;
    color: var(--4);
}
span.user_current_gc:before {
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f56b';
	font-size: 14px;
	padding-right: 3px;
    color: var(--4);
}
.badge-danger {
	background-color: #9f5d2f;
	color: var(--2);
}
#header .breadcrumb-nav {
	background-color: #262523;
}
.breadcrumb-item.active,
.breadcrumb-item.breadcrumb-item:before{
	color: var(--4)
}
#bookmarkPage {
	color: #9f5d2f!important;
}
#sidebar {
	background-color: #262523;
}
#sidebar .card {
	background-color: var(--2);
	border-bottom: none;
	border-radius: 0px 20px 0px 20px;
}
#sidebar .w-50 > a img,
#sidebar .w-50 div a img {
	border-radius: 10px 0px;
	border: 1px dashed var(--3);
	box-shadow: 0 0 7px #3d29226b;
}
.alert {
	background-color: var(--4);
	color: #9f5d2f;
	border-color: var(--1);
}
.alert a,
.alert-info a {
	color: var(--2)!important;
}
.text-success {
	color: #526440!important;
}
#main {
	background-color: #262523de;
}
#main h1 {
	text-align: center;
	text-transform: capitalize;
	text-shadow: 0 0 10px var(--3);
	letter-spacing: 0.1rem;
}
#main h1:before,
#main h1:after {
	font-family: 'Font Awesome 5 Free';
	content: '\f702';
	padding: 1rem;
	font-size: 1.2rem;
	color: #9f5d2f;
}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
	color: #9f5d2f!important;
}
.nav-tabs .nav-link {
	border: none;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: #262523!important;
}
.table-striped tbody tr:nth-of-type(even) {
	background: #262523;
}
.border-bottom {
	margin: 0!important;
	padding: 0!important;
	border: none!important;
}
.table .subheader,
.table .bottom {
	background-color: transparent;
}
.table thead th {
	background-color: var(--4);
	border-radius: 10px 10px 0px 0px;
}
#main .table {
	border: none;
}
#main > table > tbody > tr:nth-child(1) > th {
	background: #262523;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	text-shadow: 0 0 3px;
}
#main > table > tbody > tr:nth-child(1) > th:before {
	font-family: 'Font Awesome 5 Free';
	content: '\f521';
	font-size: .8rem;
	padding: .4rem;
	color: var(--5);
}
#main .table th a {
	color: var(--5);
}
.btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
	background: var(--3);
	color: var(--1);
	font-weight: bold;
	border: none;
	border-radius: 15px;
	text-transform: lowercase;
}
.btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-primary:hover, .btn-info:hover {
	background: var(--5);
	color: var(--3);
}
.btn-success:active, .btn-danger:active, .btn-warning:active, .btn-primary:active, .btn-info:active {
	background: var(--5)!important;
	color: var(--3)!important;
}
.btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-primary:focus, .btn-info:focus, .btn {
	box-shadow:none!important;
}
#sidebar .progress {
	margin-top: .4rem;
	border-radius: 20px;
	border: 1px solid var(--5);
	background-color: #282521!important;
}
#sidebar .bg-warning,
#sidebar .bg-info {
	background-color: #9f5d2f!important;
}
#sidebar .bg-danger,
#sidebar .bg-success {
	background-color: #755540!important;
}
