/* do not remove credit, edit code or reupload 
this code is *not* free-to-use
code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Eczar&family=IM+Fell+DW+Pica&family=Metamorphous&family=Mr+Bedfort&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --font1: "Metamorphous", serif;
    --font2: "Alegreya", serif;
    --font3: "Merriweather", serif;
}
* { cursor: url('https://cur.cursors-4u.net/games/gam-4/gam376.cur'), auto !important; }

@keyframes float {
	0% {
	transform: translateY(0);
	}

	50% {
	transform: translateY(-3px);
	}

	100% {
	transform: translateY(0);
	}
}

.alert {
    font-family: var(--font3);
    font-size: 12px;
    text-align: center;
    color: #28130d;
    font-weight: bold;
    text-transform: lowercase;
}
.alert a {
    color: #28130d!important;
    transition: .3s ease;
}
.alert a:hover {
    transition: .3s ease;
    color: #cfc9b9!important;
    text-decoration: none;
}
.alert-danger i {
    visibility: hidden;
}
.alert-danger i:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f71c';
    visibility: visible;
}
.alert img[src$="scout.png"] {
}
.alert img[src$="foothunt.png"] {
}
.alert img[src$="herbalist.png"] {

}

#header .navbar-main {
    background: none;
    font-family: var(--font1);
}

#header .navbar-main a {
    font-size: 12px!important;
    color: #cfc9b9!important;
    font-weight: bold;
    text-shadow: 1px 1px 1px #271611;
    transition: .3s ease;
}

#header .navbar-main a:hover {
    transform: rotateZ(-4deg);
    transition: .3s ease;
}

 #header .navbar-main a i {
    display: none!important;
}

#main-menu>ul>li:nth-child(1)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f71c';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(2)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f132';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(3)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f81c';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(4)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f70f';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(5)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f724';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(6)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f6b9';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(7)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f51e';
    padding-right: 5px;
    color: #523f3d;
}

#main-menu>ul>li:nth-child(8)>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f701';
    padding-right: 5px;
    color: #523f3d;
}
#header .user_current_sc:after { content: ' sc'; }
#header .user_current_gc:after { content: ' gc'; }
.icon-beetle-gold, .icon-beetle-silver { display: none; }

@media (min-width: 992px) {
#header .navbar-expand-lg .navbar-nav, #header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end!important;
    }
#header .mr-auto, .mx-auto { 
	margin-right: 0!important;
	margin-bottom: -1.5rem!important;
    }
}
.navbar-status {
    background: linear-gradient(to right, transparent, #34221be8, transparent)!important;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, #34221b, transparent);
    border-image-slice: 1;
    font-family: var(--font3);
    color: #C9C2B1!important;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 12px;
}
#header .navbar-status i { display: none!important; }
#header .navbar-status .text-light, #header .navbar-status a {
    color: #C9C2B1!important;
    text-shadow: 1px 1px 1px #271611;
    font-weight: 800;
    font-size: 10px;
}
#header .navbar-status .text-light, #header .navbar-status a:active {
    box-shadow: none!important;
}

#header > nav.navbar.navbar-status.navbar-expand > div > button {
    font-size: 12px;
}
#header .navbar-status {
    margin-right: 1rem;
    margin-left: 1rem;
}
span.d-none.d-lg-inline.navbar-text {
    visibility: hidden!important;
}
span.d-none.d-lg-inline.navbar-text:after {
    content: 'your story begins here, traveller...';
    visibility: visible;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #271611;
}
span.d-none.d-lg-inline.navbar-text:before {
    content: '\f71c';
    visibility: visible;
    font-family: 'Font Awesome 5 Free';
    position: fixed;
    margin-left: 4.5rem;
    transform: rotate(-90deg);
    text-shadow: -1px 1px 1px #271611;
}

.breadcrumb:after {
    position: absolute;
    content: 'css by #6488 \f56b';
    visibility: visible;
    right: 30px;
    font-family: var(--font3), 'Font Awesome 5 Free';
    color: #28130d;
    font-weight: bold;
    text-shadow: 0px 1px 1px #271611;
    font-size: 9px;
}
.badge-danger { background: #3b2422; color: #f5decf;}
.breadcrumb-nav {
    visibility: hidden;
}
#header .navbar-main .navbar-brand:hover {
    transform: none;
}

body {
    background-image: url('https://i.imgur.com/u5q0XYl.jpeg');
    background-size: cover;
    background-position: right center;
}

#main {
    background-image: none;
}

#main h1 {
    text-align: center;
    font-family: var(--font1);
    text-transform: uppercase;
    text-shadow: 0 0 3px #cfc9b9;
    letter-spacing: 3px;
    color: #e6dfcf;
}

#main h1:after {
    content: '.'!important;
    visibility: visible;
    position: absolute;
    right: 190px;
}
#main h1:before {
    content: '.'!important;
    visibility: visible;
    position: absolute;
    left: 190px;
}

#sidebar {
    background: none;
    text-transform: lowercase;
}

#main .table th {
    padding: 40px;
    text-transform: lowercase;
    padding-right: 1rem;
    padding-left: 1rem;
}

#denCards a[href*='/dynasty'] {
    content: url('https://static.wolvden.com/images/items/trophies/skull_wolf.png');
}
#denCards a[href*='/pack-overview'] {
    content: url('https://static.wolvden.com/images/items/food/deerdoe.png');
}
#denCards a[href*='/breed'] {
    content: url('https://static.wolvden.com/images/items/trophies/skull_wolf.png');
    transform: rotateY(180deg);
}
#denCards a[href*='/pup-sitting'] {
    content: url('https://static.wolvden.com/images/items/trophies/skull_wolf.png');
}
#denCards a[href*='/nesting'] {
    content: url('https://static.wolvden.com/images/items/trophies/ear_deer.png');
}
#denCards a[href*='/socializing'] {
    content: url('https://static.wolvden.com/images/items/trophies/skull_wolf.png');
    transform: rotateY(180deg);
}
#denCards {
    padding: 2rem;
}
#denCards a {
    filter: sepia(.6) saturate(.5);
    transition: .3s ease-in-out;
    padding: .4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#denCards a:hover {
    filter: sepia(.6) saturate(.5) blur(0.5px) brightness(1.1);
    transition: .3s ease-in-out;
}
