/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #73194 on wolvden.com
    code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
:root {
  --1: #29353C;
  --2: #44576D;
  --3: #768A96;
  --4: #AAC7D8;
  --5: #DFEBF6;
  --6: #E6E6E6;
  --font: "Baskervville SC", serif;

    body {
        background: var(--4);
        font-family: var(--font);
        color: var(--4)!important;
    }
    #header nav.navbar.navbar-status.navbar-expand div button:focus {
        box-shadow: none;
    }
    #header .navbar-main {
        background: var(--1);
        border-radius: 0 0 10px 10px;
    }
    #header .navbar-status {
        background: var(--4);
        color: var(--2);
        font-weight: bold;
    }
    #header .navbar-status a {
        color: var(--2);
    }
    #header .navbar-status .d-md-inline {
	padding: 0px;
	margin: 0px;
	display: none!important;
    }
    #header .breadcrumb-nav {
        background: var(--1);
        border-radius: 10px 10px 0px 0px
    }
    #header .navbar-main a {
        font-size: 1rem;
    }
    #main {
        background: var(--1);
    }
    #sidebar {
        background: var(--1);
        color: var(--2)!important;
        font-weight: bold!important;
    }
    #sidebar .card {
        background: var(--3);
        border-radius: 10px;
        border-bottom: none;
    }
    #sidebar a {
        color: var(--5);
    }
    #sidebar a:hover {
        color: var(--6);
        text-shadow: 0 0 3px;
    }
    #footer {
        background: var(--1);
        border-radius: 0 0 10px 10px;
        margin-bottom: 1rem;
    }
    .table {
        border: none;
    }
    .left, .right {
        background: var(--3);
        color: var(--6)!important;
        font-weight: bold;
        text-shadow: 0 0 1px black;
    }
    .right a, .right .text-success {
        color: var(--5)!important;
    }
    .boxcontainer {
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    }
    .box1 {
        width: 100%;
        text-align: center;
    }
    .box1 img {
        border-radius: 30px;
    }
    .box2 {
        padding: 0px;
        height: 340px;
        width: 60%;
        overflow: auto;
        text-align: center;
        padding: .3rem;
    }
    ::-webkit-scrollbar {
        background: var(--5);
        border-radius: 20px;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, var(--4), var(--2));
        border-radius: 20px;
        border: 1px solid var(--4)
    }
