/* do not remove credit, edit code or reupload 
    this code is *not* free-to-use, made for #73194 on wolvden.com
    code by #6488 on wd, @poikel on github*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
:root {
  --1: #29353C;
  --2: #44576D;
  --3: #768A96;
  --4: #AAC7D8;
  --5: #DFEBF6;
  --6: #E6E6E6;
  --font: "Baskervville SC", serif;
