/* do not remove credit, edit code or reupload
this code is *not* free-to-use, made for #4391 on wolvden.com
code by #6488 on wd, @poikel on github*/

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
:root {
    --font: "Domine", serif;
    --bl: #0e1c1f;
    --bl2: #193538;
    --dg: #11613c;
    --lg: #73cc60;
    --pl: #aff59f;
}
.justify-content-between.mb-3 div { border: none !important; }
#main .card {background-color: transparent!important;border: 0px!important;}
#header nav.navbar.navbar-status.navbar-expand div button:focus {
    box-shadow: none;
}
::-webkit-scrollbar {
    background-color: var(--bl2)!important;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dg2);
    border-radius: 100px;
}
#header .navbar-main {
    border-radius: 10px 10px 0px 0px;
    margin-top: .6em;
    background-color: var(--bl);
}
.navbar-expand-lg .navbar-collapse {
    margin-left: 1.5rem;
}
#header .navbar-main .nav-link {
    font-size: 1rem!important;
}
#header .navbar-main a i {font-size: 0!important;}
#header .navbar-main a i:after {
	font-size: .875rem;
	font-family: 'Font Awesome 5 Free';
	content: '\f1bb' !important;
    color: #d2d2d2;
}
#header .navbar-main a {
    color: #d2d2d2!important;
    font-weight: bold;
    text-shadow: 0 0 4px;
}
#header .navbar-main a:hover {
    transform: rotateY(10deg)!important;
}
#header .navbar-status {
    background-color: var(--bl2);
    border-bottom: solid #d2d2d259 2px;
    border-top: solid #d2d2d259 2px;
}
#header .navbar-status a, .d-lg-inline {
    color: var(--lg);
}
#header .breadcrumb-nav {display: none;}
#header .breadcrumb-nav #bookmarkPage { display: flex; visibility: visible; position: fixed; top: 15px; right: 15px; color: #d2d2d2!important; }
#sidebar {
    background: #0e1c1fc2;
}
#sidebar .card {
    margin-top: 1em;
    color: #d2d2d2;
    border-bottom: none;
    background: var(--bl2);
}
#sidebar .card-title, #sidebar h3 a {
	color: #d2d2d2!important;
	text-align: center;
}
.w-50 a img, .w-50 div a img, #main table tbody tr td div.col-xl-3.col-sm-7.text-center div a img,
#main table tbody tr td div a:nth-child(3) img, img.rounded-bottom {
    border-radius: 0px 100px 100px 100px!important;
    border: 2px solid var(--dg);
}
.progress {
    background: var(--bl)!important;
    border-radius: 10px;
    margin-top: 3px;
}
.bg-warning, .bg-danger, .bg-info, .bg-primary, .bg-success {
    border-radius: 10px;
    background: linear-gradient(90deg, var(--dg), var(--lg));
    border: 1px solid var(--bl);
}
body {
    font-family: var(--font);
    background-image: url('https://i.imgur.com/hl4QjeG.png');
    background-position: center;
}
#main {
    background: #0e1c1fc2;
}
#main a {
    color: #d2d2d2;
}
.table, .table th, .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--bl2)!important;
    border: none;
	color: #d2d2d2;
}
.nav-tabs {
	justify-content: right;
	border: none;
    font-size: 0;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
}
.nav-tabs .nav-link {
    border: none;
    padding: 4px;
}
#main .nav-link[href*='/profile/']:after { content: '\f007'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
#main .nav-link[href*='/den/']:after { content: '\f724'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
.bg-light, .bg-dark {
	background: transparent!important;
}
