/*.

===============
crossroads to the side
===============

@media (min-width: 992px) {
#header .navbar-expand-lg .navbar-nav, #header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end!important;
    }
#header .mr-auto, .mx-auto { 
	margin-right: 0!important;
	margin-bottom: -1.5rem!important;
    }
}


===============
alert images
===============


alert img[src$="123.png"]
scout.png / foothunt.png / herbalist.png 



===============
remove blue under den cards/lead wolf
===============


#main .card {background-color: transparent;}


===============
white featured wolf square removal
===============


.justify-content-between.mb-3 div { border: none !important; }


===============
stretch navbar across screen
===============


@media (min-width: 992px) {
#header .navbar-status {
	position: absolute;
	width: 110%;
	right: 1px;
}
#header > nav.navbar.navbar-status.navbar-expand > span {
	position: absolute;
	left: 41%;
}
#header > nav.navbar.navbar-status.navbar-expand > div {
	position: absolute;
	left: 46%;
}
#header > nav.navbar.navbar-status.navbar-expand > ul {
	right: 20%;
	position: absolute;
}
}



===============
make table stuff invisible
===============


.table, .table th, .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent!important;
    border: none;
}



===============
den/profile icons center
===============


.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
}
.nav-tabs .nav-link {
	border: none;
}


===============
replace den/profile icons
===============


#main .nav-link[href*='/profile/']:after { content: '\f007'; font-family: 'Font Awesome 5 Free'; font-size: 14px; padding-right: 15px;}
#main .nav-link[href*='/den/']:after { content: '\f015'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}


===============
remove box shadow when click on welcome
===============


#header nav.navbar.navbar-status.navbar-expand div button:focus {
    box-shadow: none;
}


===============
cool hover sidebar effect
===============


#sidebar .card::before,
#sidebar .card::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    }
    
#sidebar .card::before {
    top: -5px;
    left: -5px;
    border-top: 4px double var(--wh);
    border-left: 4px double var(--wh);
	transition: 1s ease;
    }
    
#sidebar .card::after  {
        right: -5px;
        bottom: -5px;
        border-bottom: 4px double var(--wh);
        border-right: 4px double var(--wh);
	transition: 1s ease;
    }
    
#sidebar .card:hover::before,
#sidebar .card:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
    }
}


===============
background animation with image
===============


.overlay {
	background: url('https://i.imgur.com/Llt1RgS.png');
	height: 170%;
	background-size: 5%;
	background-repeat: repeat;
	z-index: -1;
	position: fixed;
	width: 200%;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	opacity: 60%;
}

===============
all images EXCEPT CARDS
===============

.w-50 a img, .w-50 div a img, #main table tbody tr td div.col-xl-3.col-sm-7.text-center div a img,
#main table tbody tr td div a:nth-child(3) img

*/
